table.timeline {
	width: 100%;
	.even {
		background-color: lighten($color-primary,65%);
	}
	.odd {
		background-color: lighten($color-primary,75%);
	}
	th,	td {
		padding: 0.5em;
		text-align: left;
		vertical-align: top;
	}
	.date {
		font-weight: bold;
		min-width: 200px;
		@media screen and (max-width: 600px) {
			min-width: 50px;
		}
	}
	.description {
		p {
			margin-top: 0;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
